.form__page {
  padding-left: 25%;
  padding-right: 5%;
  margin-top: 50px;
  margin-bottom: 10%;
}

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bill__sender,
.bill__reciever {
  margin-top: 30px;
}

.action__buttons,
.edit__action__buttons {
  width: 100%;
  max-width: 640px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--action__buttons-bg);
  box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.7);
}
.right__action_buttons {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.input__field {
  margin-bottom: 20px;
  margin-top: 10px;
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: var(--input-border);
  border-radius: 5px;
  margin-top: 10px;
  background: var(--input-bg);
  color: var(--inpute-text-color);
}

.paymentTerms {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border: var(--input-border);
  border-radius: 5px;
}

select {
  border: var(--input-border);
  border-radius: 5px;
  background: var(--input-bg);
  cursor: pointer;
}

option {
  position: relative;
  top: 20px;
  background: var(--input-bg);
}

select:focus {
  border-color: #007bff;
}

input[type="date"] {
  font-size: 16px;
  padding: 10px;
  border: var(--input-border);
  border-radius: 5px;
  background: var(--input-bg);
  transition: border-color 0.3s ease-in-out;
}
.edit__action__buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}
input[type="date"]:focus {
  border-color: #007bff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(50%) saturate(300%) hue-rotate(180deg);
  cursor: pointer;
}

.items__header {
  width: 100%;
  display: flex;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input:focus {
  border: 1.5px solid #007bff !important;
}

.error {
  border: 1.5px solid red;
}
.error__label {
  display: flex;
  justify-content: space-between;
}
.vertical__spacer {
  height: 100px;
}

.quantity {
  width: 50px;
}

.addinvoicebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

:root {
  --action__buttons-bg: #ffffff;
  --input-bg: rgba(255, 255, 255, 1);
  --input-border: 1.5px solid rgba(223, 227, 250, 1);
}

[data-theme="dark"] {
  --input-bg: rgba(30, 33, 57, 1);
  --input-border: 0px solid rgba(55, 59, 83, 1);
  --action__buttons-bg: #141625;
  --text-inout-color:
}

[data-theme="light"] {
  --input-bg: rgba(255, 255, 255, 1);
  --input-border: 1.5px solid rgba(223, 227, 250, 1);
  --action__buttons-bg: #ffffff;
}

@media (min-width: 1440px) {
  .action__buttons {
    max-width: 960px;
    width: 100%;
  }
}

.items {
  width: 100%;
  overflow-x: auto;
}

.itemTable td input {
  width: 100%;
  padding: 8px;
  border: var(--input-border);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.items__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.itemName {
  max-width: 100px;
  width: 100%;
}
.price {
  max-width: 100px;
  width: 100%;
}

.itemRow td input {
  font-size: 14px;
}

@media (max-width: 768px) {
  .action__buttons {
    max-width: 535px;
  }

  .items__header .caption {
    text-align: center;
    margin-bottom: 5px;
  }
  .itemRow {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
  }
  .action__buttons {
    border-radius: none !important;
  }
}