.loginpage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__form {

  overflow: hidden;
  width: 100%;
  max-width: 450px;
  --webkit-box-shadow: -4px 10px 39px -21px rgba(0, 0, 0, 0.3);
  --moz-box-shadow: -4px 10px 39px -21px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 10px 39px -21px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 12px;

  
}

form{
  
    padding: 50px;
}

@media (max-width:450px) {
    .login__form{
        max-width: 350px;
    }
    
}
