.headline {
  color: var(--headline-text-color);
}

:root {
  --headline-text-color: rgba(30, 33, 57, 1);
}
[data-theme="dark"] {
  --headline-text-color: rgba(255, 255, 255, 1);
}

[data-theme="light"] {
  --headline-text-color: rgba(30, 33, 57, 1);
}

.form__captions {
  color: #7c5dfa;
}
