.invoice {
  width: 100%;
  padding: 16px 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.invoice__details{
  overflow: hidden;
}
:root {
  --invoice-bg-color: rgba(255, 255, 255, 1);
}
[data-theme="dark"] {
  --invoice-bg-color: rgba(30, 33, 57, 1);

}

[data-theme="light"] {
  --invoice-bg-color: rgba(255, 255, 255, 1);
}
