/* Default theme (light) */

*{
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(216, 238, 247);
  --text-color: black;
}

/* Dark theme */
/* [data-theme="dark"] {
  --bg-color: #333;
  --text-color: white;
} */

/* Light theme */
/* [data-theme="light"] {
  --bg-color: white;
  --text-color: black;
} */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.scroll {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
  display: none; 
}

.home{
  overflow: hidden;
  display: flex;
  
}

@media( max-width:768px) {
  .home{
    display: flex;
    flex-direction: column;
  }
  
}